@use 'base/variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: v.$fuenteSecundaria;
    font-size: 1.6rem;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
}
ul {
    padding:0;
    margin: 0;
}
h1, h2, h3 {
    margin: 0;
    line-height: 1.2;
    font-family: v.$fuentePrincipal
}
h1 {
    font-size: 4.4rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
p {
    font-size: 1.6rem;
    line-height: 1.8;
}