// Fuente
$fuentePrincipal: 'Open Sans', sans-serif;
$fuenteSecundaria: 'Roboto', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1200px;

// Colores
$primario: #003972;
$secundario: #f18f01;
$verde: #74c69d;
$amarillo: #ffb703;
$blanco: #FFF;
$fondo: #e1e1e1;
$negro: #000;
$fondoJuego: #282a36;